<style type="text/css">
  .sidebar-label {
    height: 30px;
    border: 1px solid black;
    padding-left: 10px;
  }
  .sidebar-label:hover{
    color: white;
    background-color: black;
  }
</style>

<p id="notice"><%= notice %></p>
<div id="waiting" >
  <h3>Looking up your location</h3>
  <img src="images/wait30trans.gif" height="10%" width="10%">
</div>

<div id="map" style="width: 500px; height: 500px"></div>
<div id="labels" style="width: 500px;"></div>


 
