<style type="text/css">
  .sidebar-label {
    height: 20px;
    border: 1px solid black;
    padding-left: 5px;
  }
  .sidebar-label:hover{
    color: white;
    background-color: black;
  }
</style>

<p id="notice"><%= notice %></p>
<div id="waiting" >
  <h2>Looking up your location</h2>
  <img src="images/wait30trans.gif" height="10%" width="10%">
</div>

<div id="map" style="width: 300px; height: 300px"></div>
<div id="labels" style="width: 300px;"></div>


 
