<!DOCTYPE html>
<html>
<head>
  <title>Nearest Parking Card Vendors</title>
  <%= javascript_include_tag "application.js" %>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
  <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? -%>
  <script type="text/javascript"
          src="http://maps.google.com/maps/api/js?sensor=true">
  </script>
</head>
<body>
<h3>Nearest Parking Card Vendors</h3>
<%= yield %>

</body>
</html>
